* {
    margin: 0rem 0.2rem;
    padding: 0;
    box-sizing: border-box;
    font-size: 160;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    display: grid;
    grid-gap: 0.5rem;

    .search-bar {
        padding: 0.5rem 0.5rem 0.5rem 0rem;
    }

}

header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login {
    position: absolute;
    top: 2rem;
    right: 0.2rem;
    padding: 8px 16px;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-gap: 1rem;
    .item {
        display: flex;
        flex-direction: column;
        min-width: fit-content;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 0.5rem;

        :nth-child(2) {
            font-weight: bold;
        }

        button {
            margin-top: 0.5rem;
            size: 50%;
        }

    }
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    li a {
        color: black;
        text-decoration: none;
    }
}

.search-bar {
    input {
        width: 80%;
    }
}

button {
    background-color: #f8da5b; 
    color: black;
    font-weight: bold;
    border-radius: 0.2rem;
    border: none;
    box-shadow: none;
    padding: 0.3rem;
    max-width: 12rem;
}

ul li a {
    color: rgb(235, 197, 10);
    font-weight: bold;
    border-radius: 0.2rem;
    border: none;
    box-shadow: none;
    padding: 0.1rem;
}